*.swp
/floor_plane_deep/all_data.tar.gz
/floor_plane_deep/scripts/all_scripts.tar.gz
/shore_follower/all_data.tar.gz
/shore_follower/scripts/all_scripts.tar.gz
0000/
0001/
0002/
*.caffemodel
*.solverstate
shore_follower.zip
