<launch>

  <node pkg="cylinders_detection" type="cylinders_detection" name="cylinders_detection" output="screen">
      launch-prefix="xterm -e gdb --args"
      <param name="base_frame" value="/bubbleRob" />
      <param name="max_range" value="2.0" />
      <param name="n_samples" value="14000" />
      <param name="tolerance" value="0.01" />
      <param name="min_best" value="6000" />

      <remap from="/cylinders_detection/scans" to="/vrep/depthSensor"/>
  </node>
</launch>
