<launch>
	
	<node pkg="floor_plane_mapping" type="floor_plane_mapping_node" name ="floor_plane_mapping" output="screen">
	  launch-prefix="xterm -e gdb --args"
      <param name="base_frame" value="/bubbleRob" />
      <param name="world_frame" value="/world" />
      <param name="max_range" value="2.0" />
      <param name="n_samples" value="10000" />
      <param name="tolerance" value="0.05" />
      <param name="n_x" value="10" />
      <param name="n_y" value="10" />
  </node>
		
		
</launch>
